<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.ridog.valentine.mapper.auto.MetaMapper">
    <resultMap id="BaseResultMap" type="me.ridog.valentine.pojo.auto.Meta">

        <id column="mid" property="mid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="slug" property="slug" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">

        mid, name, slug, type, description, count
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">

        select
        <include refid="Base_Column_List"/>
        from valentine_metas
        where mid = #{mid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

        delete from valentine_metas
        where mid = #{mid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="me.ridog.valentine.pojo.auto.Meta">
        insert into valentine_metas (mid, name, slug,
        type, description, count
        )
        values (#{mid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{slug,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="me.ridog.valentine.pojo.auto.Meta">
        insert into valentine_metas
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mid != null">
                mid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="slug != null">
                slug,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="count != null">
                count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mid != null">
                #{mid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
                #{slug,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="me.ridog.valentine.pojo.auto.Meta">
        update valentine_metas
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
        slug = #{slug,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
        </set>
        where mid = #{mid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="me.ridog.valentine.pojo.auto.Meta">
        update valentine_metas
        set name = #{name,jdbcType=VARCHAR},
        slug = #{slug,jdbcType=VARCHAR},
        type = #{type,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        count = #{count,jdbcType=INTEGER}
        where mid = #{mid,jdbcType=INTEGER}
    </update>
</mapper>