<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.ridog.valentine.mapper.auto.UserMapper" >
  <resultMap id="BaseResultMap" type="me.ridog.valentine.pojo.auto.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
      <result column="created" property="created" jdbcType="TIMESTAMP"/>
      <result column="activated" property="activated" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List" >
    uid, name, password, mail, created, activated
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from valentine_users
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from valentine_users
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="me.ridog.valentine.pojo.auto.User" >
    insert into valentine_users (uid, name, password,
      mail, created, activated
      )
    values (#{uid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{mail,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{activated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="me.ridog.valentine.pojo.auto.User" >
    insert into valentine_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="activated != null" >
        activated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
          #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="activated != null" >
          #{activated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.ridog.valentine.pojo.auto.User" >
    update valentine_users
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
          created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="activated != null" >
          activated = #{activated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.ridog.valentine.pojo.auto.User" >
    update valentine_users
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      activated = #{activated,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>